.emote {
    height: 40px;
    width: 40px;
    background-size: cover;
    display: block;
}

.emote.emote-wormy {
    background-image: url("../img/emotes/wormy.png");
}
.emote.emote-ass {
    background-image: url("../img/emotes/ass.png");
}
.emote.emote-trollchungus {
    background-image: url("../img/emotes/trollchungus.png");
}
.emote.emote-gigachad {
    background-image: url("../img/emotes/gigachad.png");
}
.emote.emote-fuckyousnail {
    background-image: url("../img/emotes/fuckyousnail.webp");
}
.emote.emote-justatest {
    background-image: url("../img/emotes/justatest.png");
}
.emote.emote-feelsbadman {
    background-image: url("../img/emotes/feelsbadman.png");
}
.emote.emote-feelsamazingman {
    background-image: url("../img/emotes/feelsamazingman.png");
}
.emote.emote-feelsgoodman {
    background-image: url("../img/emotes/feelsgoodman.png");
}
.emote.emote-greenthing {
    background-image: url("../img/emotes/greenthing.png");
}
.emote.emote-monkalaugh {
    background-image: url("../img/emotes/monkalaugh.png");
}
.emote.emote-monkaS {
    background-image: url("../img/emotes/monkaS.png");
}
.emote.emote-nouis {
    background-image: url("../img/emotes/nouis.png");
}
.emote.emote-troll {
    background-image: url("../img/emotes/troll.png");
}
.emote.emote-rust {
    background-image: url("../img/emotes/rust.png");
}
.emote.emote-pepeH {
    background-image: url("../img/emotes/pepeH.webp");
}
.emote.emote-pepedead {
    background-image: url("../img/emotes/pepedead.png");
}
.emote.emote-5492_EzPepe {
    background-image: url("../img/emotes/5492_EzPepe.png");
}
.emote.emote-poggers2 {
    background-image: url("../img/emotes/poggers2.png");
}
.emote.emote-poggers {
    background-image: url("../img/emotes/poggers.png");
}
.emote.emote-hisnail {
    background-image: url("../img/emotes/hisnail.png");
}
.emote.emote-f3 {
    background-image: url("../img/emotes/f3.png");
}
.emote.emote-f4 {
    background-image: url("../img/emotes/f4.png");
}
.emote.emote-angry {
    background-image: url("../img/emotes/angry.png");
}
.emote.emote-banhammer {
    background-image: url("../img/emotes/banhammer.png");
}
.emote.emote-deviltee {
    background-image: url("../img/emotes/deviltee.png");
}
.emote.emote-cateeholic {
    background-image: url("../img/emotes/cateeholic.png");
}
.emote.emote-bluekitty {
    background-image: url("../img/emotes/bluekitty.png");
}
.emote.emote-bluestripe {
    background-image: url("../img/emotes/bluestripe.png");
}
.emote.emote-boo {
    background-image: url("../img/emotes/boo.png");
}
.emote.emote-brownbear {
    background-image: url("../img/emotes/brownbear.png");
}
.emote.emote-cammo {
    background-image: url("../img/emotes/cammo.png");
}
.emote.emote-cammostripes {
    background-image: url("../img/emotes/cammostripes.png");
}
.emote.emote-ddnet {
    background-image: url("../img/emotes/ddnet.png");
}
.emote.emote-ddnet_lgbt {
    background-image: url("../img/emotes/ddnet_lgbt.png");
}
.emote.emote-flag_unk {
    background-image: url("../img/emotes/flag_unk.png");
}
.emote.emote-frozen {
    background-image: url("../img/emotes/frozen.png");
}
.emote.emote-fury {
    background-image: url("../img/emotes/fury.png");
}
.emote.emote-gg {
    background-image: url("../img/emotes/gg.png");
}
.emote.emote-giftee_green {
    background-image: url("../img/emotes/giftee_green.png");
}
.emote.emote-giftee_red {
    background-image: url("../img/emotes/giftee_red.png");
}
.emote.emote-happy {
    background-image: url("../img/emotes/happy.png");
}
.emote.emote-heartw {
    background-image: url("../img/emotes/heartw.png");
}
.emote.emote-hey {
    background-image: url("../img/emotes/hey.png");
}
.emote.emote-kek {
    background-image: url("../img/emotes/kek.png");
}
.emote.emote-jaouis {
    background-image: url("../img/emotes/jaouis.png");
}
.emote.emote-lol {
    background-image: url("../img/emotes/lol.png");
}
.emote.emote-mmm {
    background-image: url("../img/emotes/mmm.png");
}

/* TODO: rocket is unused */
.emote.emote-rocket {
    background-image: url("../img/emotes/rocket.svg");
}