html, body {
    background-color: #393c42;
    color: #ccccc7;
    font-family: sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

* {
    overflow-wrap: anywhere;
    box-sizing: border-box;
}

.message-img {
    background-image: url("../img/teecord.png");
    background-size: cover;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    flex-shrink: 0;
}

.message-img.profile1 {
    background-image: url("../img/teecord/teecord_grenade.png");
}

.message-img.profile2 {
    background-image: url("../img/teecord/teecord_hammer.png");
}

.message-img.profile3 {
    background-image: url("../img/teecord/teecord_ninja.png");
}

.message-img.profile4 {
    background-image: url("../img/teecord/teecord_pistol.png");
}

.message-img.profile5 {
    background-image: url("../img/teecord/teecord_rifle.png");
}

.message-img.profile6 {
    background-image: url("../img/teecord/teecord_shotgun.png");
}

.message-img.bridge {
    background-image: url("../img/teecord_bot.png");
}

.message {
    margin: 5px;
    margin-top: 20px;
    display: flex;
}

.message-author {
    color: white;
    font-size: 22px;
}

.message-date {
    margin-left: 10px;
    color: #72767d;
    font-size: 16px;
}

.message-header {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.message-content {
    margin-left: 20px;
}

.layout {
    display: grid;
    grid-template-rows: 60px 1fr 80px;
    grid-template-columns: 100px 250px 1fr;
    max-height: 100vh;
}
.layout.expanded-user-list {
    /* expand user list add 3rd column */
    grid-template-columns: 100px 250px 1fr 350px;
}

.menu-servers {
    height: 100vh;
    background-color: #26272a;
    grid-column: 1;
    grid-row: 1 / -1;
}

.menu-bar-top {
    height: 100%;
    background-color: #383c40;
    border-bottom: 2px solid #33363a;
    grid-row: 1;
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.server-name-bar-top {
    height: 100%;
    background-color: #2f3136;
    border-bottom: 2px solid #33363a;
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.server-name {
    color: white;
    margin-left: 10px;
}

.text-channel-collapse {
    background-image: url('../img/ui/arrow_down.svg');
    background-size: cover;
    height: 5px;
    width: 10px;
    margin-right: 10px;
    margin-left: 10px
}

.text-channels-heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text-channels {
    margin-left: 20px;
}

.channel-name {
    color: #888d93;
}

.active .channel-name, .new-messages .channel-name {
    color: white;
}

.num-pings {
    display: none;
}

.num-pings.active {
    display: block;
    background-color: #f14a4a;
    border-radius: 2px;
    padding: 2px;
    color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.158);
}

.channel-name-box {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channel-name-box.active {
    background-color: #393c43;
    border-radius: 3px;
    margin-right: 5px;
}

.server-details-toggle {
    background-image: url('../img/ui/arrow_down.svg');
    background-size: cover;
    height: 15px;
    width: 30px;
    margin-right: 10px;
}

.channel-list-pane {
    background-color: #2f3136;
    grid-row: 2 / -1;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 60px;
}

.profile-and-settings-bar {
    background-color: #2a2c31;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings-button {
    height: 32px;
    width: 32px;
    background-image: url("../img/ui/cogwheel.svg");
    background-size: cover;
}

.settings-button:hover {
    background-image: url("../img/ui/cogwheel_light.svg");
}

.message-pane {
    grid-row: 2;
    grid-column: 3;
    overflow-y: auto;
}

.ui-box-rounding {
    border-radius: 10px;
}

.input-pane {
    grid-row: 3;
    grid-column: 3;
    position: relative; /* needed to align buttons inside the input */
}

.user-list-pane {
    display: none;
    background-color: #313439;
    grid-row: 1 / -1;
    padding: 10px;
}
.user-list-pane.active {
    display: block;
}

.menu-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-light {
    color: #888d93;
}

.ddnet-server {
    height: 64px;
    width: 64px;
    background-image: url("../img/ddnet-logo.png");
    background-size: cover;
    margin: auto;
}

.users-icon {
    background-image: url("../img/ui/users.svg");
    height: 32px;
    width: 32px;
    background-size: cover;
}

.notification-bell {
    height: 32px;
    width: 32px;
    background-image: url("../img/ui/bell_off.svg");
    background-size: cover;
}

.notification-bell.active {
    background-image: url("../img/ui/bell_on.svg");
}

.messages {
    height: 100%;
    overflow-y: auto;
}

input {
    all: unset;
    background-color: #43464c;
    width: calc(100% - 16px);
    height: 40px;
    padding-left: 5px;
    margin: 8px;
    box-sizing: border-box;
}

.embed-img {
    max-height: 500px;
    max-width: 100%;
}

.code-snippet {
    background-color: #333439;
    border-radius: 3px;
    font-feature-settings:"liga" 0, "dlig" 0;
    font-family: 'Courier New', Courier, monospace;
    padding: 3px;
    overflow-x: scroll;
}

.single-line-code-snippet {
    width: fit-content;
}

.multi-line-code-snippet {
    width: 100%;
    /*
        500px is layout expanded left over space
        grid-template-columns: 100px 1fr 400px;

        and 100px for the user icon
    */
    /* max-width: calc(100vw - 600px); TODO: this is hacky but needs to be done somehow */
    display: block;
}

.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.login-popup {
    z-index: 3;
    display: none;
}

.ping {
    color: #808cd6;
    background-color: #3d4051;
}

.highlight {
    width: 100%;
    padding: 5px;
    color: #bbc8b6;
    background-color: #49443c;
    border-left: 4px solid #ffb72d;
    border-radius: 1px;
}

.alert {
    color: rgb(90, 1, 1);
    background-color: rgb(223, 48, 48);
    border: 10px solid rgb(230, 78, 78);
    border-radius: 5px;
    padding: 20px;
}

.login-popup.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.login-popup form {
    max-width: 600px;
}

.btn {
    color: white;
    background-color: #7389da;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a, a:visited {
    color: #5084ac;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* webkit scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
/* track */
::-webkit-scrollbar-track {
    background: #000000b9;
}
/* handle */
::-webkit-scrollbar-thumb {
    background: #585858e0;
    border-radius: 5px;
}
/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666666;
}
