html, body {
    background-color: #393c42;
    color: #ccccc7;
    font-family: sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

* {
    overflow-wrap: anywhere;
    box-sizing: border-box;
}

.message-img {
    background-image: url("../img/teecord.png");
    background-size: cover;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    flex-shrink: 0;
}

.message-img.profile1 {
    background-image: url("../img/teecord/teecord_grenade.png");
}

.message-img.profile2 {
    background-image: url("../img/teecord/teecord_hammer.png");
}

.message-img.profile3 {
    background-image: url("../img/teecord/teecord_ninja.png");
}

.message-img.profile4 {
    background-image: url("../img/teecord/teecord_pistol.png");
}

.message-img.profile5 {
    background-image: url("../img/teecord/teecord_rifle.png");
}

.message-img.profile6 {
    background-image: url("../img/teecord/teecord_shotgun.png");
}

.message-img.bridge {
    background-image: url("../img/teecord_bot.png");
}

.message {
    margin: 5px;
    margin-top: 20px;
    display: flex;
}

.message-author {
    color: white;
    font-size: 22px;
}

.message-date {
    margin-left: 10px;
    color: #72767d;
    font-size: 16px;
}

.message-header {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.message-content {
    margin-left: 20px;
}

.layout {
    display: grid;
    grid-template-rows: 60px 1fr 80px;
    grid-template-columns: 100px 250px 1fr;
    max-height: 100vh;
}
.layout.expanded-user-list {
    /* expand user list add 3rd column */
    grid-template-columns: 100px 250px 1fr 350px;
}

.menu-servers {
    height: 100vh;
    background-color: #26272a;
    grid-column: 1;
    grid-row: 1 / -1;
}

.menu-bar-top {
    height: 100%;
    background-color: #383c40;
    border-bottom: 2px solid #33363a;
    grid-row: 1;
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.server-name-bar-top {
    height: 100%;
    background-color: #2f3136;
    border-bottom: 2px solid #33363a;
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.server-name {
    color: white;
    margin-left: 10px;
}

.text-channel-collapse {
    background-image: url('../img/ui/arrow_down.svg');
    background-size: cover;
    height: 5px;
    width: 10px;
    margin-right: 10px;
    margin-left: 10px
}

.text-channels-heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text-channels {
    margin-left: 20px;
}

.channel-name {
    color: #888d93;
}

.active .channel-name, .new-messages .channel-name {
    color: white;
}

.num-pings {
    display: none;
}

.num-pings.active {
    display: block;
    background-color: #f14a4a;
    border-radius: 2px;
    padding: 2px;
    color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.158);
}

.channel-name-box {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channel-name-box.active {
    background-color: #393c43;
    border-radius: 3px;
    margin-right: 5px;
}

.server-details-desktop-toggle {
    background-image: url('../img/ui/arrow_down.svg');
    background-size: cover;
    height: 15px;
    width: 30px;
    margin-right: 10px;
}

.burger-menu-mobile-toggle {
    background-image: url('../img/ui/burger_menu.svg');
    background-size: cover;
    height: 32px;
    width: 32px;
    margin-right: 10px;
    display: none;
}

.channel-list-pane {
    background-color: #2f3136;
    grid-row: 2 / -1;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 60px;
}

.channel-list-pane.settings-active {
    grid-template-rows: 1fr 1fr;
}

.profile-and-settings-bar {
    background-color: #2a2c31;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings-button {
    height: 32px;
    width: 32px;
    background-image: url("../img/ui/cogwheel.svg");
    background-size: cover;
}

.settings-button:hover {
    background-image: url("../img/ui/cogwheel_light.svg");
}

.message-pane {
    grid-row: 2;
    grid-column: 3;
    overflow-y: auto;
}

.ui-box-rounding {
    border-radius: 10px;
}

.input-pane__inner {
    display: flex;
    background-color: #43464c;
    margin: 8px;
    border-radius: 3px;
}

.input-pane__inner > #message-input {
    margin: 0;
    height:  auto;
}

.user-list-pane {
    display: none;
    background-color: #313439;
    grid-row: 1 / -1;
    padding: 10px;
}
.user-list-pane.active {
    display: block;
}

.menu-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-light {
    color: #888d93;
}

.server-icon {
    height: 64px;
    width: 64px;
    background-image: url("../img/ddnet-logo.png");
    background-size: cover;
    margin: auto;
}

.server-ddnet {
    background-image: url("../img/ddnet-logo.png");
}

.server-teeworlds {
    background-image: url("../img/teeworlds-logo.png");
}

.server-kog {
    background-image: url("../img/kog-logo.svg");
}

.users-icon {
    background-image: url("../img/ui/users.svg");
    height: 32px;
    width: 32px;
    background-size: cover;
}

.notification-bell {
    height: 32px;
    width: 32px;
    background-image: url("../img/ui/bell_off.svg");
    background-size: cover;
}

.notification-bell.active {
    background-image: url("../img/ui/bell_on.svg");
}

.messages {
    height: 100%;
    overflow-y: auto;
}

input[type=text], input[type=password], input[type=submit] {
    all: unset;
    background-color: #43464c;
    width: calc(100% - 16px);
    height: 40px;
    padding-left: 5px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 3px;
}

.card {
    background-color: #292b2f;
    border-radius: 3px;
    padding: 8px;
    color: #c3c5c9;
    margin: 8px;
}
.card input[type=text], .card input[type=password] {
    background-color: #1e2024;
    color: #c5c7cb;
}


.embed-img {
    max-height: 500px;
    max-width: 100%;
}

.code-snippet {
    background-color: #333439;
    border-radius: 3px;
    font-feature-settings:"liga" 0, "dlig" 0;
    font-family: 'Courier New', Courier, monospace;
    padding: 3px;
    overflow-x: scroll;
}

.single-line-code-snippet {
    width: fit-content;
}

.multi-line-code-snippet {
    width: 100%;
    /*
        500px is layout expanded left over space
        grid-template-columns: 100px 1fr 400px;

        and 100px for the user icon
    */
    /* max-width: calc(100vw - 600px); TODO: this is hacky but needs to be done somehow */
    display: block;
}

.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.form-popup {
    z-index: 3;
    display: none;
}

.ping {
    color: #808cd6;
    background-color: #3d4051;
}

.highlight {
    width: 100%;
    padding: 5px;
    color: #bbc8b6;
    background-color: #49443c;
    border-left: 4px solid #ffb72d;
    border-radius: 1px;
}

.alert {
    z-index: 10;
    color: rgb(90, 1, 1);
    background-color: rgb(223, 48, 48);
    border: 10px solid rgb(230, 78, 78);
    border-radius: 5px;
    padding: 20px;
}

.notice {
    z-index: 10;
    color: rgb(255, 255, 255);
    background-color: rgb(151, 142, 14);
    border: 10px solid rgb(207, 226, 102);
    border-radius: 5px;
    padding: 20px;
}

.form-popup.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.form-popup form {
    max-width: 600px;
}

.toggle-block {
    display: none;
}
.toggle-block.active {
    display: block;
}

/* TODO: use toggle-block */
.login-form {
    display: none;
}
.login-form.active {
    display: block;
}

.register-form {
    display: none;
}
.register-form.active {
    display: block;
}

.btn {
    border-radius: 3px;
    color: white;
    background-color: #7389da;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-secondary {
    border-radius: 3px;
    color: white;
    background-color: #5c5c60;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-secondary.clicked {
    background-color: #329752;
}

.btn-secondary:hover {
    background-color: #57575c;
}

a, a:visited {
    color: #5084ac;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* webkit scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
/* track */
::-webkit-scrollbar-track {
    background: #000000b9;
}
/* handle */
::-webkit-scrollbar-thumb {
    background: #585858e0;
    border-radius: 5px;
}
/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666666;
}

/* * * * * * * * * * * * * * * * * * *
 *   MOBILE/DESKTOP MEDIA QUERIES    *
 *                                   *
 *   we use desktop style by default *
 *   so all css rules below here     *
 *   are mobile and overwrite the    *
 *   desktop ones                    *
 *                                   *
 * * * * * * * * * * * * * * * * * * */

/* left pane */
.collapse-left-pane .server-name-bar-top {
    display: none;
}
.collapse-left-pane .channel-list-pane {
    display: none;
}

/* let the message pane flow into the collapsed left pane */
.collapse-left-pane .message-pane {
    grid-row: 2;
    grid-column: 2 / 4;
}
.collapse-left-pane .input-pane {
    grid-column: 2 / 4;
}
.collapse-left-pane .menu-bar-top {
    grid-row: 1;
    grid-column: 2 / 4;
}

/* mobile */
@media all and (max-width: 700px) {
    /* buttons */
    .server-details-desktop-toggle {
        display: none;
    }
    .burger-menu-mobile-toggle {
        display: block;
    }

    /*
        iOS overlaps 100vh content with safari menu elements
        https://nicolas-hoizey.com/articles/2015/02/18/viewport-height-is-taller-than-the-visible-part-of-the-document-in-some-mobile-browsers
    */
    .layout {
        max-height: 100svh;
    }
    .menu-servers {
        height: 100svh;
    }
}
