html, body {
    background-color: #393c42;
    color: #ccccc7;
    font-family: sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.message-img {
    background-image: url("teecord.png");
    background-size: cover;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.message-img.profile1 {
    background-image: url("img/teecord/teecord_grenade.png");
}

.message-img.profile2 {
    background-image: url("img/teecord/teecord_hammer.png");
}

.message-img.profile3 {
    background-image: url("img/teecord/teecord_ninja.png");
}

.message-img.profile4 {
    background-image: url("img/teecord/teecord_pistol.png");
}

.message-img.profile5 {
    background-image: url("img/teecord/teecord_rifle.png");
}

.message-img.profile6 {
    background-image: url("img/teecord/teecord_shotgun.png");
}

.message-img.bridge {
    background-image: url("teecord_bot.png");
}

.message {
    margin: 5px;
    margin-top: 20px;
    display: flex;
}

.message-author {
    color: #59767f;
}

.message-content {
    margin-left: 20px;
}

.layout {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.menu-servers {
    height: 100vh;
    background-color: #26272a;
}

.ddnet-server {
    height: 64px;
    width: 64px;
    background-image: url("ddnet-logo.png");
    background-size: cover;
    margin: auto;
}

.messages {
    height: calc(100vh - 80px);
    overflow: overlay;
}

input {
    all: unset;
    background-color: #43464c;
    width: 100%;
    height: 40px;
    padding-left: 5px;
    margin: 8px;
    border-radius: 5px;
}

.embed-img {
    max-height: 500px;
}

.single-line-code-snippet {
    background-color: #333439;
    border-radius: 3px;
    font-feature-settings:"liga" 0, "dlig" 0;
    width: fit-content;
    padding: 3px;
    font-family: 'Courier New', Courier, monospace;
}

.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.login-popup {
    z-index: 3;
    display: none;
}

.alert {
    color: rgb(90, 1, 1);
    background-color: rgb(223, 48, 48);
    border: 10px solid rgb(230, 78, 78);
    border-radius: 5px;
    padding: 20px;
}

.login-popup.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.login-popup form {
    max-width: 600px;
}

.btn {
    color: white;
    background-color: #7389da;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}